apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: models-pvc
  namespace: mlops
  labels:
    app: iris-api
    component: models
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

